<%= render 'layouts/messages' %>
<% if @stock %>
    <div class="card card-header col-9">
        <strong>Symbol: </strong><em><%= @stock.ticker %></em>
        <hr>
        <strong>Company Name: </strong><em><%= @stock.name %></em>
        <hr>
        <strong>Last Price: </strong><em><%= @stock.last_price %></em>
        <hr>
        <% if current_user.can_track_stock?(@stock.ticker) %>
          <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker),
            class: "btn btn-primary", method: :post %>
        <% else %>
          <span class:"badge badge-secondary">
            You are already tracking
            <% if !current_user.under_stock_limit? %>
              10 stocks
            <% end %>
            <% if current_user.stock_already_tracked?(@stock.ticker) %>
              this stock
            <% end %>
          </span>
        <% end %>
    </div>
<% end %>
<% if @friends %>
<table class="table table-bordered table-success table-hover col-9">
  <thead>
      <tr>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
      <% @friends.each do |friend| %>
          <tr>
              <td><%= friend.full_name %></td>
              <td><%= friend.email %></td>
              <td>
                <%= link_to 'View Profile', "#", class: "btn btn-sm btn-info" %>
                <% if current_user.not_friends_with?(friend.id) %>
                  <%= link_to 'Add as friend', friendships_path(friend: friend), class: "btn btn-sm btn-warning", method: :post %>
                <% else %>
                  <span>Already on the friend's list</span>
                <% end %>
              </td>
          </tr>
      <% end %>
  </tbody>
</table>
<% end %>
